html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 0 30px;
    border-bottom: 3px solid black;
    background-color: #2C2B2B;
}

#nav-bar {
    display: flex;
    justify-content: end;
    flex-grow: 1;
    align-self: center;
}

#Logo h2 {
    color: #0F99AC;
}

#nav-bar a {
    margin: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #0F99AC;
    font-weight: bold;
}

body {
    background-color: #146A76;
    margin: 0;
}

body main {
    margin: 30px 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

form div label {
    text-align: center;
    color: white;
}

form div label, input{
    display: block;
    border-radius: 6px;
}

form div input:focus  {
    outline: 1px solid green;
}

#create, 
#clear, 
#delete, 
#confirm-btn,
#storage-create-btn,
#storage-showall-btn {
    border-radius: 6px;
    height: 30px;
    border: 1px #0F99AC solid;
    cursor: pointer;
}

#create:hover, 
#clear:hover, 
#delete:hover, 
#confirm-btn:hover
#storage-create-btn:hover,
#storage-showall-btn:hover {
    opacity: 0.8;
}

#create, #confirm-btn, #storage-create-btn {
    background-color: lightgreen;
}

#clear {
    background-color: salmon
}

#delete {
    background-color: salmon;
    opacity: 0.9;
}

#storage-showall-btn {
    background-color:lightblue;
}

table {
    border-collapse: collapse;
    margin: 50px auto;
}

thead {
    background-color: rgba(206, 204, 204, 0.815);
}

tbody tr td:nth-child(1) {
    padding: 3px 5px;
    text-align: start;
}

tbody tr td {
    padding: 3px 4px;
    text-align: end;
    background-color: bisque;
}

tbody tr td:nth-child(7) {
    padding: 3px 4px;
    text-align: center;
}

tr th {
    border: solid 1px black;
    margin: 0;
    padding: 2px 5px;
}

tr td {
    border: 1px solid black;
    border-radius: 3px;
    text-align: right;
}

tr:last-child td:nth-child(1){
    padding: 3px 4px;
}

#confirm-btn {
    display: block;
    margin: 10px auto;
}

#new-product-info {
    text-align: center;
}

.span-h {
    font-weight: bold;
}

.check {
    border-color: transparent;
    border-bottom-style: hidden;
    border-right-style: hidden;
}

.invalid {
    outline: 2px solid red;
}
